{% extends 'layout.twig' %}

{% block title %}Login{% endblock %}
{% block content %}
    {% if error %}
        <p>wrong login or password</p>
    {% endif %}

    <p>sign in</p>
    <form action="" method="post">
        Username: <input type="text" name="login"><br>
        Password: <input type="text" name="pwd"><br>
        <input type="submit" name="send">
    </form>
{% endblock %}