{% extends 'layout.twig' %}

{% block title %}Account{% endblock %}
{% block content %}
    it is main page<br>
    <a href="/goods">goods</a> <br>
    <a href="/account">account</a>
    <form action="" method="get">
        Username: <input type="text" name="username"><br>
        old password: <input type="text" name="oldPassword"><br>
        New password: <input type="text" name="newPassword"><br>
        <input type="submit" name="send">
    </form>
{% endblock %}